<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Contact Submission Form</h1>
  </div>

  <form onSubmit="handleMessageFormSubmit()" action="#">
    First Name <br>
    <input id="first-name">
    Last Name <br>
    <input id="last-name">
    Email <br>
    <input id="email">
    Notes <br>
    <textarea id ="Notes"></textarea>
    <br>
    <button>Submit Contact</button>
</form>

</body>

</html>