<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Contact Submission Form</h1>
  </div>

  <form onSubmit= "handleFormSubmit()" action="#">
    First Name
    <br><input id="first-name"><br>
    Last Name
    <br><input id="last-name"><br>
    Email
    <br><input id="email"><br>
    <br><button>Submit Contact</button><br>

</form>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8915946.js"></script>
<!-- End of HubSpot Embed Code -->

<!--advanced tracking code var _hsq = window._hsq = window._hsq || [];
_hsq.push(['setContentType', 'CONTENT_TYPE']); -->

</body>
</html>