<html lang="en">
<meta charset="UTF-8">

<head>
<!-- Importing css and libraries -->

<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<!-- site css sheet -->
<link rel="stylesheet" type="text/css" href="css/main.css"/>

<!-- import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--  bootstrap -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- API Key env file-->
<script>var apiKey = "<%=process.env.API_KEY %>";</script>

<!-- site js file -->
<script src="js/main.js"></script>
</head>

<body>

<img src ="\images\ablelogo.png">
  <h1>Increase your leads by 30% with this one weird trick...</h1>

<div class = box>
<p> Are you struggling to source more leads for your business? Sign up below and recieve our free ebook with secrets that will help you:
<ul>
<li>Unlock the power of inbound marketing</li>
<li>Focus on your bottom line </li>
<li>Use the latest technology to free up hours of time per week</li>
</ul>
</p>
<!-- Custom contact form, styled with bootstrap. Calls "submitContact()" function  -->
<form onsubmit="submitContact()" action="#" name="contactform">
  <div class="form-group">
    <label for= "first-name">First Name </label>
    <br><input type="text" id="first-name" placeholder="Your first name" required><br>
    <label for= "last-name">Last Name </label>
    <br><input type="text" id="last-name" placeholder="Your last name" required><br>
    <label for= "email">Email</label>
    <br><input type="email" id="email" placeholder="Your email address" required><br>
    <label for= "company">Company</label>
    <br><input type="text" id="company" placeholder="Your company name"><br>
  </div>
  <div class ="form-group form-check">
  <input type="checkbox" class="form-check-input" id="data-consent" required>
  <label class="form-check-label" for="data-consent">I agree to share my data with Able Marketing</label>
  <br><button type= "submit" class= "btn btn-primary">Get the eBook</button></form> </div>
</form>
<p id=validationmessagebox></p>


<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8915946.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</div>
</div>
</div>
</html>
